<!-- ?ref=starsaas によるホームページが重複してindexされてる問題の解決　-->
<!-- localize: https://developers.google.com/search/docs/advanced/crawling/localized-versions?hl=ja -->
<% set_meta_tags title: t('subtitles.transcribe_videos_on_youtube'),
                 description: t('subtitles.description_about_transcriber'),
                 canonical: transcriber_url(locale: @locale),
                 twitter: { card: 'summary_large_image' },
                 alternate: { "en" => transcriber_url(locale: 'en'),
                              "ja" => transcriber_url(locale: 'ja')} %>

<%= render 'layouts/navbar' %>


<%= render 'layouts/recommendation_to_switch_locale' %>

<div class="container bg-white pt-5 pb-5 my-5">

  <div class="row justify-content-md-center mb-5">
    <div class="col col-lg-10">
      <h1 class="font-weight-bold mb-4"><%= t 'subtitles.transcribe_videos_on_youtube' %></h1>


      <p><%= t 'subtitles.description_about_transcriber' %></p>


      <%= form_with url: form_to_transcribe_subtitles_url, method: :get do |f| %>

        <div class="input-group my-5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">URL</span>
          </div>
          <%= f.text_field :url, class: 'form-control', placeholder: t('subtitles.placeholder_on_transcriber') %>
          <div class="invalid-feedback" id="invalid-feedback"></div>
        </div>



        <%= f.submit 'OK', class: 'btn btn-lg btn-info w-100 mb-4 font-weight-bold main-loading-show-btn' %>

      <% end %>

    </div>
  </div>
</div>

<%= render 'layouts/breadcrumb', items_hash: @breadcrumb_hash %>

