<div class="badge-modal-wrapper" id="captions-modal">
  <div class="overlay close-captions-modal">
    <div class="close-btn">
      <i class="fal fa-times"></i>
    </div>
  </div>

  <div class="modal-booqs" id="captions-<%= @token %>">


    <h3 class="my-4 font-weight-bold" id="modal-title"><%= t 'subtitles.select_download_caption' %></h3>

    <div id="contents-form">
      <%= form_with url: download_caption_subtitles_path, remote: true, method: :post do |f| %>

        <%= f.hidden_field :url, value: @url %>
        <%= f.hidden_field :token, value: @token %>
        <div id="scraping-error-massages"></div>
        <h5 class="text-secondary font-weight-normal"><%= @title %></h5>
        <%= f.hidden_field :title, value: @title %>

        <% if @image.present? %>
          <div class="d-block mt-2 mb-4">
            <%= image_tag @image, class: 'img-fluid w-25 mb-2' %>
          </div>
        <% end %>

        <% if @sub_lang_codes.present? %>

          <%= f.select :sub_lang_code, options_for_select(@sub_lang_codes.map { |code| caption_import_select_form_creator(code) }, @audio_lang),
                       {},
                       {class: 'form-control form-control my-3 w-100'} %>

          <%= button_tag type: 'submit', class: "btn btn-solid loading-show-btn mt-5 w-100" do %>
            <%= t 'subtitles.download' %>
          <% end %>
          <div class="loading is-hide">
            <div class="loading_icon"></div>
          </div>

        <% else %>

          <p class="text-danger"><%= t 'subtitles.there_are_no_captions' %></p>
          <p class="text-danger"><%= t('subtitles.recommend_transcription') %></p>

          <%= link_to transcriber_path do %>
            <div class="btn btn-lg btn-info loading-show-btn my-3 w-100 font-weight-bold">
              <%= t('subtitles.transcribe') %>
            </div>
          <% end %>

        <% end %>

      <% end %>
    </div>


  </div>
</div>

