<div id="article-title-<%= article.public_uid %>-translation-lang-<%= @lang_code_of_translation %>" class="mt-3">
  <!-- 他のユーザーの更新などフィードバックを表示するためのラッパー -->
  <div id="article-title-<%= article.public_uid %>-translation-lang-<%= @lang_code_of_translation %>-feedback-wrapper">

    <% if translation.present? %>

      <% lang_number = translation.lang_number %>
      <% lines = translation.text.lines %>

      <h3 class="gray my-4">
        <% lines.each_with_index do |l, i| %>
          <!-- https://docs.ruby-lang.org/ja/latest/method/String/i/split.html -->

          <div class="translation-line" style="letter-spacing: -.4em;">

            <%= render "shared/line_with_dict", line: l, lang_number: lang_number %>

            <!-- 最後の行の文末に編集ボタンを置く -->
            <% if i == lines.length - 1 %>
              <%= render 'translations/edit_btn_of_title_translation', translation: translation %>
            <% end %>
          </div>
        <% end %>
      </h3>

      <!-- ユーザーの言語設定が記事のタイトルの言語と同じなら、翻訳追加ボタンを表示しない -->
    <% elsif article.lang_code != @lang_code_of_translation %>
      <%= render 'translations/new_title_translation_btn', article: article %>
    <% end %>

    <!-- 他のユーザーによる更新をリアルタイムで伝える。 -->
    <div class="feedback-message my-3 small text-success"></div>
  </div>
</div>