<div class="mt-3 mb-5" id="article-title-<%= article.public_uid %>-translation-lang-<%= @lang_code_of_translation %>-edit-form-uid-<%= editor_token %>">
  <div id="article-title-<%= article.public_uid %>-translation-lang-<%= @lang_code_of_translation %>-feedback-wrapper">
    <!-- Cancel button -->
    <div class="text-right">
      <%= form_with url: cancel_translations_path, method: :get do %>
        <%= hidden_field_tag :editor_token, editor_token %>
        <%= hidden_field_tag :lang_code_of_translation, @lang_code_of_translation %>
        <%= hidden_field_tag :article_id, article.id %>
        <%= hidden_field_tag :translation_id, nil %>
        <%= button_tag type: 'submit', class: 'btn btn-sm btn-gray-article py-2 loading-show-btn' do %>
          <i class="far fa-times mr-2"></i><%= t('articles.cancel') %>
        <% end %>
        <div class="loading is-hide">
          <div class="loading_icon"></div>
        </div>
      <% end %>
    </div>


    <h4 class="text-success my-3 font-weight-bold">
      <i class="fas fa-pen mr-2"></i><%= t('translations.add_title_translation') %></h4>

    <!-- Update button -->
    <%= form_with model: translation, url: create_title_translations_path, method: :post do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= hidden_field_tag :editor_token, editor_token %>
      <%= hidden_field_tag :lang_code_of_translation, @lang_code_of_translation %>

      <%= f.hidden_field :article_id, value: article.id %>
      <div class="text-preview-wrapper mb-3">
        <%= f.text_field :text, value: @translation_text, class: 'form-control form-control-lg preview-target-text', placeholder: t('translations.text_placeholder') %>
        <%= render 'translations/lang_form', f: f, lang_number: Lang.convert_code_to_number(@lang_code_of_translation) %>
        <div class="small text-left">
          <a href="#" class="text-success text-preview-btn"><u><%= t('articles.text_preview') %></u></a></div>
      </div>


      <%= button_tag type: 'submit', class: 'btn btn-solid loading-show-btn mt-4 w-100' do %>
        <%= t('translations.create') %>
      <% end %>

      <div class="loading is-hide">
        <div class="loading_icon"></div>
      </div>
    <% end %>


    <!-- 他のユーザーによる更新をリアルタイムで伝える。 -->
    <div class="feedback-message my-3 small text-success"></div>
  </div>
</div>
