<div class="badge-modal-wrapper" id="translation-importer-modal">
  <div class="overlay close-translation-importer-modal">

    <div class="close-btn">
      <i class="fal fa-times"></i>
    </div>

  </div>
  <div class="modal-booqs" id="translation-importer">

    <h3 class="mt-3 mb-4 font-weight-bold"><%= t 'articles.import_translation' %></h3>

    <p><%= t('articles.explanation_for_importing_translations') %></p>
    <p class="text-danger"><%= t('articles.warning_to_edit_all_translations') %></p>

    <%= form_with model: @article, url: import_translations_article_path(@article), method: :post do |f| %>
      <% if @sub_lang_codes.present? %>

        <%= f.select :sub_lang_code, options_for_select(@sub_lang_codes.map { |code| import_select_form_creator(code) }),
                     {},
                     {class: 'form-control form-control my-3 w-100'} %>

        <%= button_tag type: 'submit', class: "btn btn-solid loading-show-btn mt-4 w-100" do %>
          <%= t 'articles.execute' %>
        <% end %>
        <div class="loading is-hide">
          <div class="loading_icon"></div>
        </div>

      <% else %>
        <p class="text-danger"><%= t 'subtitles.there_are_no_subtitles' %></p>
      <% end %>
    <% end %>


  </div>
</div>


