<% set_meta_tags title: t('tags.article_list'),
                 canonical: articles_tag_url(@tag),
                 twitter: {card: 'summary_large_image'},
                 alternate: {"en" => articles_tag_url(@tag, locale: 'en'),
                             "ja" => articles_tag_url(@tag, locale: 'ja')} %>


<div class="mt-3">
  <%= render 'layouts/breadcrumb', items_hash: @breadcrumb_hash %>

  <div class="container bg-white pt-5 pb-5 my-5">
    <div class="row justify-content-md-center">
      <div class="col col-lg-10">
        <h1 class="font-weight-bold mb-4"><%= title t('tags.article_list', tag_name: @tag.name) %>
          (<%= @articles_count %>)</h1>


        <% if @articles_count > 10 %>
          <div id="infinite-scroll">
            <div class="append-content">
              <%= render 'articles/cards', articles: @articles %>
            </div>
          </div>
          <%= render "shared/infinite_scroll_normal", contents: @articles %>
        <% else %>
          <%= render 'articles/cards', articles: @articles %>
        <% end %>

      </div>
    </div>
  </div>
</div>
