<%= form_with url: new_passage_path, method: :get, class: 'd-inline' do |f| %>
  <%= f.hidden_field :article_id, value: article.id %>
  <%= f.hidden_field :lang_code_of_translation, value: @lang_code_of_translation %>
  <%= button_tag type: 'submit', class: 'btn btn-sm btn-gray-article loading-show-btn', id: 'new-passage-btn' do %>
    <i class="fal fa-plus mr-2"></i><%= t 'passages.add_passage' %>
  <% end %>
  <div class="loading is-hide">
    <div class="loading_icon"></div>
  </div>
<% end %>

