<div id="passage-<%= passage.id %>" class="passage-component" data-start="<%= passage.start_time %>" data-end="<%= passage.end_time %>">
  <!-- 本文 -->
  <%= render 'passages/passage', passage: passage %>
  <!-- 翻訳 -->
  <!--TODO: translationを事前に読み込んでN+1を解決する。 -->
  <% translation ||= passage&.translations&.find_by(lang_number: @lang_number_of_translation, article_id: passage.article_id)%>
  <%= render 'passages/translation', passage: passage, translation: translation %>


  <!-- 動画の再生ボタンなどの下部要素 -->
  <div class="d-flex justify-content-end mt-3 mb-5">

    <!-- Play btn -->
    <% if passage.article.video? %>

      <button class="btn btn-sm btn-border-gray mr-2 pause-button">
        <span class="far fa-pause"></span>
      </button>

      <button class="timestamp btn btn-sm btn-border-gray" data-start="<%= passage.start_time %>">
        <i class="far fa-play"></i>
        <span><%= return_play_time_from_start_to_end(passage.start_time, passage.end_time) %></span>
      </button>

    <% end %>
    <!-- 画面の翻訳設定に該当する翻訳が存在せず、画面の翻訳設定がpassageの言語と異なる場合に、翻訳追加ボタンを表示する -->
    <!--
    <#% if translation.blank? && passage.lang_number != @lang_number_of_translation %>
      <#%= render 'translations/adding_translation_btn', passage: passage %>
    <#% end %>
    -->
  </div>

  <!--
  <#% if passage.image.present? %>
    <#%= image_tag passage.image.url, width: "#{passage.width_of_image}",height: "#{passage.height_of_image}", class: 'img-fluid mb-5', alt: '' %>
  <#% end %>
  -->

</div>
