<div id="passage-<%= passage.id %>" class="passage-component" data-start="<%= passage.start_time %>" data-end="<%= passage.end_time %>">
  <div id="passage-<%= passage.id %>-feedback-wrapper" class="mb-5">
    <!-- 原文 -->
    <%= render 'passages/passage', passage: passage %>
    <!-- 翻訳 -->
    <!--TODO: articles/showでもtranslationを事前に読み込んでN+1を解決したい。 -->
    <% translation ||= passage&.translations&.find_by(lang_number: Lang.convert_code_to_number(@lang_code_of_translation),
                                                      article_id: passage.article_id) %>
    <%= render 'passages/translation', passage: passage, translation: translation %>

    <!-- Play btn -->
    <% if passage.article.video? %>
      <!-- 動画の再生ボタンなどの下部要素 -->
      <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-sm btn-border-gray mr-2 pause-button">
          <span class="far fa-pause"></span>
        </button>

        <button class="timestamp btn btn-sm btn-border-gray" data-start="<%= passage.start_time %>">
          <i class="far fa-play"></i>
          <span><%= return_play_time_from_start_to_end(passage.start_time, passage.end_time) %></span>
        </button>
      </div>
    <% end %>

    <!-- 他のユーザーによる更新をリアルタイムで伝える。 -->
    <div class="my-3 small text-success passage-feedback-message"></div>
  </div>
</div>
