<div id="passage-<%= passage.id %>-translation-lang-<%= @lang_code_of_translation %>">
  <div id="passage-<%= passage.id %>-translation-lang-<%= @lang_code_of_translation %>-feedback-wrapper">

    <% if translation.present? %>
      <%= render 'translations/translation', translation: translation %>
    <% elsif translation.blank? && passage.lang_code != @lang_code_of_translation %>
      <%= render 'translations/new_btn', passage: passage %>
    <% end %>

    <!-- 他のユーザーによる更新をリアルタイムで伝える。 -->
    <div class="feedback-message my-3 small text-success"></div>
  </div>

</div>