<footer class="footer" style="margin-top: 200px;">

  <div class="container pt-4">
    <div class="row">
      <div class="col-xl-4 pl-3">
        <div class="my-3"><%= link_to 'DiQt', "https://www.booqs.net/#{@locale}",  target: '_blank', rel: 'noopener' %></div>
        <div class="my-3"><%= link_to 'iOS版DiQt', "https://tools.applemediaservices.com/app/1594559036?country=jp",  target: '_blank', rel: 'noopener' %></div>
        <div class="my-3"><%= link_to 'Android版DiQt', "https://play.google.com/store/apps/details?id=com.booqs.booqs_mobile",  target: '_blank', rel: 'noopener' %></div>
        <div class="my-3"><%= link_to 'Chrome拡張版DiQt', "https://chrome.google.com/webstore/detail/booqs-dictionary/khgjdchimekphdebkmcknjkphkbpbpkj?hl=#{@locale}",  target: '_blank', rel: 'noopener' %></div>
      </div>

      <div class="col-xl-4 pl-3">

        <div class="my-3"><%= link_to t('subtitles.download_captions_on_youtube'), caption_downloader_path %></div>
        <div class="my-3"><%= link_to t('subtitles.transcribe_videos_on_youtube'), caption_downloader_path %></div>
      </div>

      <div class="col-xl-4 pl-3">
        <div class="my-3"><%= link_to t('layouts.company'), "https://www.booqs.net/#{@locale}/about",  target: '_blank', rel: 'noopener' %></div>
        <div class="my-3"><%= link_to  t('layouts.contact'), "https://www.booqs.net/#{@locale}/contact", target: '_blank', rel: 'noopener' %></div>
        <div class="my-3"><%= link_to t('layouts.commercial_transaction_act'), "https://www.booqs.net/#{@locale}/legal" %></div>
        <div class="my-3"><%= link_to t('layouts.term_of_service'), "https://www.booqs.net/#{@locale}/terms_of_service" %></div>
        <div class="my-3"><%= link_to t('layouts.privacy_policy'), "https://www.booqs.net/#{@locale}/privacy_policy" %></div>
      </div>


    </div>

  </div>
</footer>
