<header class="header">
  <div class="container logo text-left pt-3 d-flex">

    <%= link_to root_path do %>
      <img src="<%= asset_url("BooQs_logo.svg") %>" class="mr-2"><span class="pt-2">BooQs Sub</span>
    <% end %>

    <%= link_to new_article_path, class: 'ml-auto' do %>
      <div class="btn btn-sm btn-light-green font-weight-bold">
        <i class="far fa-video-plus mr-2"></i><%= t('articles.create') %>
      </div>
    <% end %>
  </div>
</header>


<% if @navbar_displayed %>
  <%= render 'layouts/navbar' %>
<% end %>
