<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/google' %>
  <!-- http://vdeep.net/rubyonrails-meta-tags-seo -->
  <%= display_meta_tags(default_meta_tags) %>
  <%= yield :links %>
  <%= render "layouts/rails_default" %>
</head>

<body>
<%= render "layouts/header" %>

<div class="main" id="main">
  <div class="feedback_message">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  </div>
  <%= yield %>
</div>

<!-- 特定のボタンを押した時に表示されるloading -->
<div class="loading is-hide" id="loading">
  <div class="loading_icon"></div>
</div>


<%= render 'layouts/footer' %>

</body>
</html>
